
body
{
	background-color: #FFFFFF;
	
	font-family: Arial, Berlin Sans FB;
	font-size : 18px;
	margin: 0px;
	padding: 0px;
}

/* background video */
#video
{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -5;
}

h2
{
	font-size : 1em;
}

img
{
	max-width: 100%;
}

a
{
	color: #add8e6;
}

a:hover
{
	color: #c1e1ec;
}

#TaekwandoImg
{
	max-width: 18em;
	float: right;
	padding-left: 1%;
}

#JiuJitsuImg
{
	max-width: 65%;
	float: left;
}

aside
{
	padding-top: 20%;
}

#MainHeader
{
	padding: 0.5%;
	margin-top: 0%;
	background-color: #000000;
	
	/* makes a border */
	border: solid;
	border-width: 0.5%;
	border-color: #2699FB;
	
	text-align: center;
	color: #FFFFFF;
	
	/* Makes sure the header stays on a fixed position on the screen */
	position: fixed;
	margin-top: -10%;
	
	/* Makes sure the header is almost always in front */
	z-index: 100;
}

nav
{
	background-color: #000000;
	padding-right: 1.5%;
	
	/* Makes sure the nav stays on a fixed position on the screen */
	position:fixed;
	margin-top: -2.85%;
	
	/* makes a border */
	border-right: solid;
	border-left: solid;
	border-bottom: solid;
	border-width: 0.5%;
	border-color: #2699FB;
	
	/* Makes sure the nav is almost always in front and also in front of the header */
	z-index: 101;
	
	font-size: 80%;

}

.content
{
	background-color: #F5F5F5;
	
	/* makes a border */
	border: solid;
	border-width: 0.5%;
	border-color: #AAAAAA;
	padding: 1%;
	
	text-align: center;

	
	/* makes sure all the sections are in the middle */
	margin-left: 20%;
	margin-right: 20%;
	
	margin-bottom: 3%
}

#maincontent
{
	margin-top: 10%;
}

/* makes sure all the content fits in the area it is suppost to be in */
#sportcontent
{
	padding-bottom: 5%;
}

#referalcontent
{
	padding-bottom: 10%;
}

/* This section sets up the grid for the sportcontent */
#sports
{
	display: grid;
	grid-gap: 1%;
	grid-template-columns: 32.7% 32.7% 32.7%;
}