
body
{
	background-color: white;
	
	font-family: Arial, sans-serief;
}

h2
{
	font-size : 1em;
}

#MainHeader
{
	padding: 0.5%;
	background-color: black;
	
	text-align: center;
	color: white;
}

section
{
	background-color: #F5F5F5;
	max-width: 60%;
	border-width: 0.5%;
	border-color: #AAAAAA;
	text-align: center;
}
	
#maincontent
{
	text-align: center;
}

#secondarycontent
{
	text-align: center;
}
